@font-face {
 font-family: "Arial-BoldMT";
 src: url(../fonts/Arial-BoldMT.ttf) format("ttf"),
  url(../fonts/Arial-BoldMT.woff2) format("woff2");
 font-display: swap;
}
@font-face {
 font-family: "ArialMT";
 src: url(../fonts/ArialMT.ttf) format("ttf"),
  url(../fonts/ArialMT.woff2) format("woff2");
 font-display: swap;
}
